#local
.venv/
.vscode/
mufrog_core/src/TODO.md
mufrog_core/scripts/songs/mp3/
mufrog_core/src/analyzed_output/
mufrog_core/src/mufrog.egg-info/
#external
mufrog_core/src/scripts/songs/
mufrog_coresrc/temp_out/
Music2Emotion/temp_out/
#pylint analysis
mufrog_core/src/pylint2.txt
mufrog_core/src/pylint1.txt
mufrog_core/src/standard.rc

