[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu126"  # Or match your system CUDA version
verify_ssl = true
name = "pytorch"

[[source]]
url = "git+https://github.com/mir-evaluation/mir_eval.git@1fed5327e2a65c3294579beafa03a6498b4da3d0"
verify_ssl = true
name = "github"

[packages]
absl-py = "==1.4.0"
antlr4-python3-runtime = "==4.9.3"
array-record = "==0.4.1"
asttokens = "==3.0.0"
astunparse = "==1.6.3"
async-timeout = "==5.0.1"
attrs = "==25.1.0"
audioread = "==3.0.1"
bokeh = "==3.6.3"
cachetools = "==5.5.1"
certifi = "==2025.1.31"
cffi = "==1.17.1"
chardet = "==5.2.0"
charset-normalizer = "==3.4.1"
chordparser = "==0.4.2"
click = "==8.1.8"
cloudml-hypertune = "==0.1.0.dev6"
cloudpickle = "==3.1.1"
colorama = "==0.4.6"
contourpy = "==1.3.1"
crepe = "==0.0.12"
cycler = "==0.12.1"
ddsp = "==3.6.0"
decorator = "==5.1.1"
dill = "==0.3.4"
dm-tree = "==0.1.9"
etils = "==1.12.0"
exceptiongroup = "==1.2.2"
executing = "==2.2.0"
filelock = "==3.17.0"
fire = "==0.7.0"
flatbuffers = "==25.2.10"
fonttools = "==4.56.0"
fsspec = "==2025.2.0"
future = "==1.0.0"
gast = "==0.4.0"
gin-config = "==0.5.0"
google-api-core = "==2.24.1"
google-auth = "==2.38.0"
google-auth-oauthlib = "==0.4.6"
google-cloud-core = "==2.4.2rc0"
google-cloud-storage = "==3.0.0"
google-crc32c = "==1.6.0"
google-pasta = "==0.2.0"
google-resumable-media = "==2.7.2"
googleapis-common-protos = "==1.63.1"
grpcio = "==1.70.0"
h5py = "==3.13.0"
hmmlearn = "==0.2.7"
huggingface-hub = "==0.29.0"
hydra-core = "*"
idna = "==3.10"
imageio = "==2.37.0"
importlib-resources = "==6.5.2"
intervaltree = "==3.1.0"
ipython = "==8.32.0"
jedi = "==0.19.2"
jinja2 = "==3.1.5"
joblib = "==1.4.2"
jsonpickle = "==4.0.2"
keras = "==2.11.0"
kiwisolver = "==1.4.8"
lazy-loader = "==0.4"
libclang = "==18.1.1"
librosa = "==0.10.2.post1"
llvmlite = "==0.43.0"
markdown = "==3.7"
markupsafe = "==3.0.2"
matplotlib = "==3.10.0"
matplotlib-inline = "==0.1.7"
mido = "==1.3.3"
more-itertools = "==10.6.0"
msgpack = "==1.1.0"
music21 = "*"
note-seq = "==0.0.3"
numba = "==0.60.0"
numpy = "==1.23.5"
oauthlib = "==3.2.2"
omegaconf = "==2.3.0"
opt-einsum = "==3.4.0"
packaging = "==20.9"
pandas = "==2.2.3"
parso = "==0.8.4"
pillow = "==11.1.0"
platformdirs = "==4.3.6"
pooch = "==1.8.2"
pretty-midi = "*"
promise = "==2.3"
prompt-toolkit = "==3.0.50"
proto-plus = "==1.26.0"
protobuf = "==3.19.6"
psutil = "==7.0.0"
pure-eval = "==0.2.3"
pyasn1 = "==0.6.1"
pyasn1-modules = "==0.4.1"
pybind11 = "==2.13.6"
pycparser = "==2.22"
pydub = "==0.25.1"
pygments = "==2.19.1"
pyparsing = "==3.2.1"
python-dateutil = "==2.9.0.post0"
pytz = "==2025.1"
pyyaml = "==6.0.2"
redis = "==5.2.1"
regex = "==2024.11.6"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
resampy = "==0.2.2"
rsa = "==4.9"
safetensors = "==0.5.2"
scikit-learn = "==1.6.1"
scipy = "==1.15.2"
six = "==1.17.0"
sortedcontainers = "==2.4.0"
soundfile = "==0.13.1"
soxr = "==0.5.0.post1"
spotipy = "==2.24.0"
stack-data = "==0.6.3"
tensorboard = "==2.11.2"
tensorboard-data-server = "==0.6.1"
tensorboard-plugin-wit = "==1.8.1"
tensorflow = "==2.11.1"
tensorflow-datasets = "==4.9.0"
tensorflow-estimator = "==2.11.0"
tensorflow-hub = "==0.12.0"
tensorflow-intel = "==2.11.1"
tensorflow-io-gcs-filesystem = "==0.31.0"
tensorflow-metadata = "==1.13.0"
tensorflow-probability = "==0.25.0"
tensorflowjs = "==3.18.0"
termcolor = "==2.5.0"
tflite-support = "==0.1.0a1"
threadpoolctl = "==3.5.0"
tokenizers = "==0.19.1"
toml = "==0.10.2"
tornado = "==6.4.2"
tqdm = "==4.66.5"
traitlets = "==5.14.3"
transformers = "==4.44.0"
typing-extensions = "==4.12.2"
tzdata = "==2025.1"
urllib3 = "==2.3.0"
wcwidth = "==0.2.13"
webcolors = "==24.11.1"
werkzeug = "==3.1.3"
wrapt = "==1.17.2"
xyzservices = "==2025.1.0"
zipp = "==3.21.0"
nnaudio = "*"
pytorch-lightning = "*"
torch = {version = "==2.6.0+cu126", index = "pytorch"}
torchvision = {version = "==0.21.0+cu126", index = "pytorch"}
torchaudio = {version = "==2.6.0+cu126", index = "pytorch"}
mir-eval = "*"
music2latent = "*"
setuptools = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
